<div>
    <h2>Liste des Capitales</h2>
    <ul>
      <li *ngFor="let capital of capitals">
        {{ capital.name }} - Population: {{ capital.population }}
        <button (click)="editCapital(capital)">Modifier</button>
        <button (click)="deleteCapital(capital)">Supprimer</button>
      </li>
    </ul>
  </div>
  
  <div *ngIf="selectedCapital">
    <h2>Modifier la Capitale</h2>
    <form>
      <label>Nom: </label>
      <input [(ngModel)]="selectedCapital.name" name="name" />
  
      <label>Population: </label>
      <input [(ngModel)]="selectedCapital.population" name="population" />
  
      <label>longitude: </label>
      <input [(ngModel)]="selectedCapital.lon" name="longitude" />

      <label>latitude: </label>
      <input [(ngModel)]="selectedCapital.lat" name="latitude" />
  
      <button (click)="saveChanges()">Enregistrer</button>
    </form>
  </div>
  
  <div>
    <h2>Créer une Nouvelle Capitale</h2>
    <button (click)="createCapital()">Nouvelle Capitale</button>
  </div>
  
